

body{
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/343391.jpg);
    background-size: cover;
    background-position: center;

}


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


pokeball{
    margin-left: -10px;
    position: flex;
    margin-top: -80px;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 3;
    background-size: cover;
    background:url(https://www.freeiconspng.com/thumbs/pokeball-png/pokeball-icon-download-23.png) no-repeat;  
    
}

/* this no work...why? */
pokeball:hover{
        background: url(/övningar/openball.png) no-repeat;
        height: 100px;
        width: 110px;
        background-size: cover;
        display: inline;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}


.navbar ul li a{
    text-decoration: none;
    color: #943dd7;
    text-transform: uppercase;

}


.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ba90da;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}


.navbar ul li :hover::after{
    width: 100%;
}

a{
    font-family:Arial, Helvetica, sans-serif;
}
.Card{
    position: flex;
    margin-bottom: -100px;
}

.img-bottom{
   height: 100px;
   width: 100px;
   margin-left: auto;
   position: flex;
   z-index: -1000;
   display: block;

}

.img-top{
    height: 100px;
    width: 100px;
    margin-left: auto;
    position: flex;
    visibility: hidden;
    z-index: 5000;
    display: block;
}

.img-bottom:hover {
    visibility: hidden;
    transition: 0s;
}

 .img-bottom:hover .img-top {
    visibility: visible;
}

